/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: #FFFFFF;
}

body {
	background-color: #10522c;
}

#page-top {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	background-color: #f1dc1c;
	border-bottom: 2px solid #154628;
	width: 100%;
	height: auto;
	z-index: 99;
}

#page-top img {
	display: block;
	max-width: 100%;
	height: auto;
}

#title-container {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5%;
	text-align: center;
}

#title {
	color: #554800;
	font-size: 2em;
	font-weight: 600;
	line-height: 1.25em;
}

#form-container {
	background-color:   #e0ffff;
	position: relative;
	margin: 10% auto 0 auto;
	padding: 1% 1% 5% 1%;
	border-radius: 2%;
	width: 70%;
	height: auto; 
}

#form-container h2 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.5em;
	text-align: center;
	font-weight: 600;
}

#description {
	width: 70%;
	font-size: 1em;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: 2% auto 0 auto;
	text-align: center;
	word-wrap: break-word;
}

#survey-form {
	width: 88%;
	display: block;
	text-align: right;
	margin: 6% auto 0 auto;
}

.input-field {
	width: 30%;
}

.category-label {
	display: inline-block;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.1em;
	font-weight: 600;
	margin-right: 20%;
	max-width: 30%;
}

.form-item {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 5%;
}

.group-choice-container {
	border: 1px dashed #ac9ba0;
	padding: 3px;
	display: block;
	text-align: left;
}

.group-choice-container div:not(:first-child) {
	margin-top: 5px;
}

#checkbox-items div:not(:first-child) {
	margin-top: 10px;
}

.group-choice-container, textarea {
	width: 30%;	
}

#submit {
	width: 15%;
	height: 8%;
	padding: 3px;
	font-size: 1.5em;
	font-weight: 600;
	margin-top: 5%;
	background-color: #ffe8e0;
}

#submit:hover {
	border: 4px solid #050709;
	color: #2e343b;
	background-color: #f64747;	
}

/* Media Queries */

@media screen and (max-width: 520px) {
	#title {
		font-size: 1.40em;
	}	
	
	#form-container {
		width: 100%;
		margin-top: 60px;
		padding-top: 50px;
	}
	
	.form-item {
		justify-content: space-between;
	}
	
	#survey-form {
		text-align: left;
	}
	
	.group-choice-container {
		border: none
	}	

	#submit {
		display: block;
		width: 80%;
    margin: 8% 0 0 12%;
	}
}